<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFuoq245yE3Ufd8AJi6_duRbDesuYg59Q</string>
	<key>GCM_SENDER_ID</key>
	<string>681146997569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-288.FinalProject-iOS</string>
	<key>PROJECT_ID</key>
	<string>fir-app-7288-c4ece</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-7288-c4ece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681146997569:ios:ca26cbb6f07547a3325fc0</string>
</dict>
</plist>